<a href="https://colab.research.google.com/github/ksshu/python_Hands_On/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**A Python dictionary is a data structure that stores the value in key:value pairs**.

In [ ]:
Dict = {1: 'pramod', 2: 'manoj', 3: 'ashis'}
print(Dict)

{1: 'pramod', 2: 'manoj', 3: 'ashis'}

In [ ]:
Dict = {1: 'tarun', 2: 'prasad', 3: 'namita'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dict = {'Name': 'shantavva', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'tarun', 2: 'prasad', 3: 'namita'}

Dictionary with the use of Mixed Keys:
{'Name': 'shantavva', 1: [1, 2, 3, 4]}

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Dict = dict({1: 'savitri', 2: 'jyoti', 3: 'ananya'})
print("\nDictionary with the use of dict(): ")
print(Dict)

Dict = dict([(1, 'savitri'), (2, 'geeta')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'savitri', 2: 'jyoti', 3: 'ananya'}

Dictionary with each item as a pair:
{1: 'savitri', 2: 'geeta'}

adding elements to the dictionary

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)
Dict[0] = 'pyhon'
Dict[2] = 'For'
Dict[3] = 6
print("\nDictionary after adding 3 elements: ")
print(Dict)

Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)
Dict[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'pyhon', 2: 'For', 3: 6}

Dictionary after adding 3 elements:
{0: 'pyhon', 2: 'For', 3: 6, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'pyhon', 2: 'Welcome', 3: 6, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'pyhon', 2: 'Welcome', 3: 6, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

**Accessing Elements of a Dictionary**

In [ ]:
Dict = {1: 'python', 'name': 'For', 3: 'ECE'}
print("Accessing a element using key:")
print(Dict['name'])
print("Accessing a element using key:")
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
python

**Access a Value in Dictionary using get() in Python**

In [ ]:
Dict = {1: 'PYTHON', 'name': 'For', 3: 'ECE'}

print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using get:
ECE

**Accessing an Element of a Nested Dictionary**

In [ ]:
Dict = {'Dict1': {1: 'AMAZON'},
		'Dict2': {'Name': 'RIVER'}}

print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'AMAZON'}
AMAZON
RIVER

**Deleting Elements using ‘del’ Keyword**

In [ ]:
Dict = {1: 'PYTHON', 'name': 'For', 3: 'ECE'}

print("Dictionary =")
print(Dict)
del(Dict[1])
print("Data after deletion Dictionary=")
print(Dict)

Dictionary =
{1: 'PYTHON', 'name': 'For', 3: 'ECE'}
Data after deletion Dictionary=
{'name': 'For', 3: 'ECE'}

** Dictionary clear() Method**

In [ ]:
my_dict = {1: 'PYTHON', 'name': 'For', 3: 'ECE'}
my_dict.clear()
print(my_dict)

{}

** Dictionary items() Method**

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.items())[1][0])
print(list(d.items())[1][1])

[('Name', 'Ram'), ('Age', '19'), ('Country', 'India')]

 **Dictionary keys() Method**

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(d.keys())

dict_keys(['Name', 'Age', 'Country'])

**Dictionary values() Method**

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.values()))

['Ram', '19', 'India']

**Dictionary update() Method**

In [ ]:
d1 = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d2 = {'Name': 'Neha', 'Age': '22'}

d1.update(d2)
print(d1)

{'Name': 'Neha', 'Age': '22', 'Country': 'India'}

**Dictionary pop() Method**

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d.pop('Age')
print(d)

{'Name': 'Ram', 'Country': 'India'}

**Dictionary popitem() Method**

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d.popitem()
print(d)

d.popitem()
print(d)

{'Name': 'Ram', 'Age': '19'}
{'Name': 'Ram'}