<a href="https://colab.research.google.com/github/ksshu/python_Hands_On/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set1 = {"apple", "banana", "cherry", "apple"}
print(set1)

{'cherry', 'banana', 'apple'}

In [ ]:
len(set1)

3

In [ ]:
set1 = {"apple", "banana", "cherry", "apple",1,2,3,True,False}
print(set1)

{False, 1, 2, 'banana', 3, 'cherry', 'apple'}

**loop in set**

In [ ]:
set1 = {"apple", "banana", "cherry"}

for x in set1:
  print(x)

cherry
banana
apple

**adding and removing element from a set**

In [ ]:
set1 = {"apple", "banana", "cherry"}

set1.add("orange")
set1

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
set1 = {"apple", "banana", "cherry"}

set1.remove("apple")
set1

{'banana', 'cherry'}

**using union to join the two sets**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)

In [ ]:
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

**joining two sets**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2

{1, 2, 3, 'a', 'b', 'c'}

**joining multiple sets**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'b', 'cherry', 'John', 'apple', 'c', 'bananas', 'a'}