<a href="https://colab.research.google.com/github/ksshu/python_Hands_On/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CREATING TUPLES**

In [ ]:
tuple=("SHUBHAM","VIJJU","RENUKA","SHWETA")
tuple

('SHUBHAM', 'VIJJU', 'RENUKA', 'SHWETA')

In [ ]:
len(tuple)

4

**slicing in tuple**

In [ ]:
tuple=("SHUBHAM","VIJJU","RENUKA","SHWETA")
print(tuple[0:3])

('SHUBHAM', 'VIJJU', 'RENUKA')

In [ ]:
tuple=("SHUBHAM","VIJJU","RENUKA","SHWETA")
print(tuple[1:4])

('VIJJU', 'RENUKA', 'SHWETA')

In [ ]:
tuple1=("SHUBHAM","VIJJU","RENUKA","SHWETA")
print(tuple1[2:-1])

for i in tuple1:
  print(i)

('RENUKA',)
SHUBHAM
VIJJU
RENUKA
SHWETA

**loop in tuples**

In [ ]:
tuple1=("SHUBHAM","VIJJU","RENUKA","SHWETA")
for i in range(len(tuple1)):
  print(tuple1[i])

SHUBHAM
VIJJU
RENUKA
SHWETA

NameError: name 'tuple1' is not defined